*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body,html{
  width: 100%;
  height: 100%;
  background-color: gray;
  overflow: hidden;
  background-image: url("https://media.istockphoto.com/id/1150170445/photo/blur-abstract-background-of-corridor-in-clean-hospital-blurred-view-of-aisle-in-office-with.webp?b=1&s=170667a&w=0&k=20&c=h3m-OSxKx7k4IFl0upCDFHrRMzKlgirTn1SLvktI1sU=");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav{
  position: fixed;
width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #433D8B;
  .logo{
      margin-left: 15px;
      font-size: 22px;
      font-weight: bolder;
  }
  .menus{

      display: flex;
      list-style: none;
      gap: 6vw;
      align-items: center;
      justify-content: center;
      .menu{
          font-size: 18px;
          font-weight: 500;
      }
  }
  .buttons{
      padding: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      button{
          padding: 3px 20px;
          &.login{
           background-color: rgb(67, 67, 234);
           color: #fff;
           border-radius: 5px;
           border-style: none;
      padding: 8px 20px;
      cursor: pointer;
      &:hover{
          background-color: rgb(37, 143, 37);
          color: #fff;
      }
     
      }
      &.register{
          background-color: rgb(234, 67, 67);
          color: #fff;
          border-radius: 5px;
          border-style: none;
          padding: 8px 20px;
      cursor: pointer;
      &:hover{
          background-color: rgb(120, 24, 24);
          color: #fff;
      }
      }
  }
}
}


h2 {
  color: #333333;
}

label {
  margin-bottom: 8px;
  font-size: small;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

p {
  font-size: 12px;
}

a {
  color:blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


section {
  padding: 50px 0;
  text-align: center;
}

footer{
  padding: 20px;
  margin: 20px;
  position:absolute;
  bottom: 0;
}
