
main{

    margin-bottom: 10px;
    width: 30%;
    padding: 0.9vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 2vw;
    background-color: #EFF2F7;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 3vw;
    .logo{
        width: 50px;
    
        height: 50px;
        /* margin: 0 auto; */
        background-color: beige;
        border-radius: 50%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            overflow: hidden;
        }
    }
    form{
  input{
    display: flex;
    width: 100%;
    padding: 0.2vw 0;
    border-radius: 5px;
    border: 1px solid black;
    /* background-color: #f6e8e8; */
    /* outline: none; */
    
  }
  .login{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border: 1px solid black;
    /* background-color: beige; */
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    &:hover{
        background-color: rgb(102, 102, 241);
        color: white;
        font-weight: bold;
        cursor: pointer;
    }
  }
    }
  }
  
  form{
    width: 80%;
  }

.warning{
    margin: 0px;
    font-size: small;
    font-style:bold;
    color: red;
  }
  
  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .form-group label {
    margin-right: 10px;
  }